---
layout: home
title: SSH个人博客
description: "一个前端工程师的成长记录"
tags: [tags]
---

{% for post in paginator.posts %}
<div class="row">
	<article class="post post col-md-8 col-md-offset-2">
		<header class="post-header">
            <h2 class="post-title text-center super lighter bordered-bottom">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h2>

			<div class="post-info text-center small">
				<time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%Y-%m-%d" }}</time>
			    in <span class="post-tags">
			    {% for tag in post.categories %}
				<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}"
				    data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">
					{{ tag | capitalize }}
				</a>
			    {% unless forloop.last %}
				&nbsp;&bull;&nbsp;
                {% endunless %}
                {% endfor %}
			    </span>
			</div>
		</header>

		<div class="post-body bordered-bottom">
			{% assign excerptsize = post.excerpt | number_of_words %} 
			
            {% if excerptsize > 0 %}
                <p class="lead">{{ post.excerpt | strip_html }}&hellip;</p>
            {% else %}
                <p>{{ post.content | strip_html | truncatewords:50 }}&hellip;</p>
            {% endif %}

			<div class="text-center">
				<a href="{{ site.url }}{{ post.url }}" class="more-link btn btn-danger btn-large">
					<i class="fa fa-link"></i> 阅读
				</a>
			</div>
		</div>
	</article>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="row text-center text-caps">
	<div class="col-md-8 col-md-offset-2">
		<nav class="pagination" role="navigation">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
        	<a class="newer-posts" href="{{ site.url }}">&larr; 上一页</a>
			{% else %}
			<a class="newer-posts" href="{{ site.url }}/blog/{{ paginator.previous_page }}">&larr; 上一页</a>
			{% endif %}
		{% endif %}
    	<span class="page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}   
    		<a class="older-posts" href="{{ site.url }}/blog/{{ paginator.next_page }}">下一页 &rarr;</a>
 		{% endif %}
		</nav>
    </div>
</div>
{% endif %}