@media (max-width: 767px) {
    h1 {
        font-size: 26px;
        line-height: 36px;
    }

    h1 small {
        font-size: 18px;
    }

    h2 {
        font-size: 23px;
        line-height: 36px;
    }

    h2 small {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
        line-height: 36px;
    }

    h3 small {
        font-size: 16px;
    }

    blockquote {
        padding-left: 24px;
    }

    blockquote:before {
        left: 0;
    }

    .super {
        font-size: 48px;
        text-align: center;
    }

    .super small {
        margin-top: 12px;
        display: block;
    }

    .hyper {
        font-size: 60px;
    }

    .small-screen-center {
        text-align: center !important;
    }

    .small-screen-margin-bottom {
        margin-bottom: 24px !important;
    }
}

@media (max-width: 480px) {
    .super {
        font-size: 36px;
        line-height: 1em;
    }

    .hyper {
        font-size: 48px;
        line-height: 1em;
    }

    .lead {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 23px;
        line-height: 24px;
    }

    h1 small {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        line-height: 24px;
    }

    h2 small {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    h3 small {
        font-size: 13px;
    }

    .super {
        font-size: 24px;
        line-height: 1;
    }

    .hyper {
        font-size: 36px;
    }
}

@media only screen and (min-width:48em) {
    .search-wrapper {
        top: 100px;
    }
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
        display: inline;
    }
}

@media (max-width: 480px) {
    .brand img {
        max-height: 60px;
    }

    .blog-title {
        font-size: 24px;
        line-height: 24px;
    }

    .blog-description {
        display: none;
    }

    .image-credit {
        display: none;
    }

    .home-template .row {
        margin: 0 -5px;
    } /* fixes overflow on homepage on small screens (caused by stacked -15px from bootstrap) */
}

@media (max-width: 480px) {
    .older-posts,
    .newer-posts {
        position: relative;
    }
}

@media screen and (max-width: 1140px) {
    #header,
    #posts-container,
    .entry .text,
    .entry .media,
    .entry .captions,
    .entry .details {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    #fade.slide {
        left: 298px;
    }

    #header,
    #posts-container,
    .entry .text,
    .entry .media,
    .entry .captions,
    .entry .details,
    #permalink .permalink-box {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    a#slide {
        position: absolute;
    }
}