<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="post-template" itemscope itemtype="http://schema.org/WebPage">
    {% include search.html %}
    {% include header.html %}

    <div id="main" class="content" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
        <div class="container">
            <div class="row">
                <article class="post col-md-8 col-md-offset-2 hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header entry-header">
                        <h1 class="post-title text-center hyper lighter bordered-bottom entry-title" itemprop="headline">{{ page.title }}</h1>
                        <div class="cursive" style="color: #000;">{{ page.description }}</div>
                        <div class="post-info text-center small">
                            <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}" class="post-time" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></span>
                            in
                            <span class="post-tags">
                                {% for tag in page.categories %}
                                <a href="{{ site.url }}/categories/index.html#{{ page.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>
                                {% unless forloop.last %}
                                    &nbsp;&bull;&nbsp;
                                {% endunless %}
                                {% endfor %}
                            </span>
                        </div>
                    </header>

                    <div class="post-body bordered-bottom" itemprop="description">
                        {{ content }}
                        <br>

                        {% assign tagsize = page.tags.size %}
                        {% if tagsize != 0 %}
                        <div class="entry-tags text-center">
                            <i class="fa fa-tags"></i>&nbsp;
                                标签：
                            {% for tag in page.tags %}
                                <a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="关于{{ tag }}还有很多哦~" rel="tag">{{ tag }}</a>

                                {% unless forloop.last %}
                                &nbsp;&bull;&nbsp;
                                {% endunless %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <footer class="post-footer entry-meta">
                        {% include signoff.html %}
                    </footer>
                </article>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

    <script>
        $(function () {
            var url = location.origin + location.pathname,
                title = $('.post-header .post-title').text().trim(),
                query = new AV.Query('Counter');

            query.equalTo('url', url);
            query.limit(10);
            query
                .find()
                .then(function (json) {
                    var counter, results = json.results;

                    if (results.length > 0) {
                        counter = results[0];
                        counter.fetchWhenSave(true);
                        counter.increment("time");
                    } else {
                        counter = new Counter();
                        counter.set("title", title);
                        counter.set("url", url);
                        counter.set("time", 1);
                    }

                    counter
                        .save()
                        .then(function () {
                            console.log('add 1 times');
                        }, function () {
                            console.log('fail to add 1 times');
                        });
                }, function (error) {
                    console.log('Error:' + error.code + " " + error.message);
                });
        });
    </script>
</body>
</html>
